.landing-background {
  width: 100%;
  height: 100%;
}

@media (min-width: 1281px){
  .landing-background {
    clip-path: polygon(180% 0%, 0% 70%, 0% 0%);
  }
}

@media (max-width: 1280px) {
  .landing-background {
    clip-path: polygon(200% 0%, 0% 68%, 0% 0%);
  }
}

@media (max-width: 1024px) {
  .landing-background {
    clip-path: polygon(230% 0%, 0% 65%, 0% 0%);
  }
}

@media (max-width: 768px) {
  .landing-background {
    clip-path: polygon(280% 0%, 0% 60%, 0% 0%);
  }
}

@media (max-width: 640px) {
  .landing-background {
    clip-path: polygon(280% 0%, 0% 60%, 0% 0%);
  }
}

@media (max-width: 480px) {
  .landing-background {
    clip-path: polygon(250% 0%, 0% 60%, 0% 0%);
  }
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-style: normal;
}
